<div class="col-lg-8">
<h3>List of Workouts</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body Part Targeted</th>
      <th>Picture</th>
      <th>Favorite</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <% if workout.favorite == true %>
        <td><%= workout.name %></td>
        <td><%= workout.bodyPart %></td>
        <td><img src="<%= workout.image %>"</img></td>
        <td><span class="glyphicon glyphicon-star"></span> </td>
        <td><%= link_to 'Remove from Favorites', edit_workout_path(workout) %></td> 
        <%end%>
      </tr>
    <%end%>
  </tbody>
  </table>