<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text">Workout</p>
    </div>
  </div>
  </div>

<div class="col-md-6 edit">


  <h5>Click on the checkbox next to Favorite to add it to the list.
  </br>Uncheck the checkbox to remove it from the list.</h5>

<h3>Adding to Favorites</h3>

<%= render 'form' %>

<%= link_to 'Back', workouts_path %>
</div>